# Use oh-my-zsh
antigen use oh-my-zsh

# Load default
antigen bundle git
antigen bundle pip
# Syntax highlighting bundle.
antigen bundle zsh-users/zsh-syntax-highlighting

# Load theme
antigen theme {{ zsh_antigen_theme }}

# Commit antigen configuration
antigen apply
