# Use oh-my-zsh
antigen use oh-my-zsh

# Load default
antigen bundle git
antigen bundle pip
# Syntax highlighting bundle.
antigen bundle zsh-users/zsh-syntax-highlighting

# Load theme
antigen theme robbyrussell

# Commit antigen configuration
antigen apply
