# History setup
HISTFILE=$HOME/.zsh_history
HISTSIZE=100000
SAVEHIST=$HISTSIZ

setopt hist_ignore_all_dups # remove older duplicate entries from history
setopt hist_reduce_blanks # remove superfluous blanks from history items
setopt inc_append_history # save history entries as soon as they are entered
setopt share_history # share history between different instances of the shell
setopt auto_cd # cd by typing directory name if it's not a command
setopt correct # autocorrect commands
setopt auto_list # automatically list choices on ambiguous completion
setopt auto_menu # automatically use menu completion
setopt always_to_end # move cursor to end if word had one match
setopt extendedglob # extend glob
setopt notify # return background job immediately
unsetopt beep # Do not beep on error
unsetopt nomatch # Do not raise error on nomatch

bindkey -e # Use eMac binding

# Set default editor
export VISUAL=vim
export EDITOR=vim

# Load Antigen
source {{ zsh_antigen_path }}

# Load Antigen stuff
antigen init {{ zsh_antigenrc_path }}

{% if 'romkatv/powerlevel10k' in zsh_antigen_theme %}
# Load p10k.zsh if used
[[ ! -f {{ zsh_p10k_path }} ]] || source {{ zsh_p10k_path }}
{% endif %}

# TILIX VTE fix
if [ $TILIX_ID ] || [ $VTE_VERSION ]; then
        source /etc/profile.d/vte.sh
fi