export WORKON_HOME={{ virtualenvwrapper_home }}
export PROJECT_HOME={{ virtualenvwrapper_project }}
export VIRTUALENVWRAPPER_PYTHON={{ virtualenvwrapper_python }}
export VIRTUALENVWRAPPER_VIRTUALENV={{ virtualenvwrapper_virtualenv }}
source {{ virtualenvwrapper_source }}