{
  "editor.fontFamily": "'{{ vscode_font }}', 'monospace', monospace, 'Droid Sans Fallback'",
  "editor.tabSize": 2,
  "editor.insertSpaces": true,
  "editor.wordWrap": "on",
  "terminal.integrated.shell.linux": "zsh",
  "terminal.integrated.shellArgs.linux": ["-l"],
  "files.eol": "\n"
}